body {
    background: linear-gradient(150deg, #285260, #b4d7d8);
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.main-content {
    padding: 30px;
    width: 100%;
    overflow-y: auto;
}

.card {
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E0D7CF;
}

.card-header {
    background-color: #2980b9;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
    background-color: #ecf0f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #E0D7CF;
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.card ul li {
    margin-bottom: 10px;
}

.btn-custom {
    background-color: #285260;
    color: white;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    transition: background 0.3s ease;
    font-size: 1.1rem;
}

.btn-custom:hover {
    background-color: #548C92;
}

.modal-header {
    background-color: #2980b9;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-body, .modal-footer {
    padding: 20px;
    background-color: #ecf0f1;
    background-color: #E0D7CF;
}